.main {
    display: flex;
    min-height: 100vh;
}

.container {
    background-image: url('/images/map.png');
    height: 100vh;
    background-color: #525252;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100%;
}

.mark {
    display: flex;
    position: absolute;
    cursor: pointer;
    width: 1.7%;
    height: 4.4%;
    background-image: url('/images/mark.svg');
    background-size: cover;
    transition: all 0.3s ease; 
    &_offTheMap {
        background-image: url('/images/offTheMapMark.png');
        width: 1.7%;
        height: 4.5%;
    }
    &_checked {
        margin-top: -1%;
        margin-left: -0.5%;
        background-image: url('/images/markSelected.png');
        width: 3%;
        height: 7.4%;
    }
}


.rubricator {
    z-index: -1;
    .rubricator__button {
        cursor: pointer;
        z-index: 1;
        display: flex;
        position: absolute;
        //left: 101.1%;
        top: 16%;
        left: 31.75%;
        width: 3.2%;
        height: 4.1%;
        background: #FFE145;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        background-image: url('/images/lines.svg');
        background-position: center;
        background-size: cover;
        background-size: 64% 65%;
        background-repeat: no-repeat;
    }
    .rubricator__filter {
        z-index: 1;
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        color: #F2F2F2;
        position: absolute;
        display: none;
        width: 13%;
        height: 34.9%;
        left: 31.3%;
        top: 20.5%;
        background: #3A3A3A;
        border: 6px solid #000000;
        border-radius: 0px 10px 10px 0px;
        &_clicked {
            display: flex;
        }
        .filter__content {
            justify-content: space-between; 
            flex-direction: column;
            display: flex;
            width: 83%;
            height: 96.5%;
            margin-top: 2.8%;
            margin-left: 4.5%;
            .content__option {
                &:hover {
                    color: #ABABAB;
                }
                &_checked {
                    text-decoration-line: underline;
                    color: #FFED8D;
                }
                cursor: pointer;
            }
        }
    }
}

.statusButton {
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-image: url('/images/statusOff.svg');
    background-size: cover;
    &_checked {
        background-image: url('/images/statusOn.svg');
    }
}

.fullLeftbar {
    top: 0;
    bottom: 0;
    position: fixed;
    display: flex;
    width: 35.4%;
    .addButton {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        background: #3A3A3A;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        width: 8.2%;
        height: 3.2%;
        left: 101.1%;
        z-index: -1;
        top: 11%;
        color: #FFE145;
        font-size: 20px;
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 400;
        border: none;
    }


    .leftbar {
        position: relative;
        overflow-x: visible;
        width: 89.7%;
        background: #3A3A3A;
        border-right: 6px solid #000000;
        display: flex;
        justify-content: center;
        .leftbar__statusButton {
            display: inline-block;
            position: absolute;
            left: 83.5%;
            top: 6.4%;
            width: 6.5%;
            height: 3.5%;
        }
        .leftbar__content {
            background-image: url('/images/leftbarClosed.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 90.3%;
            height: 88%;
            margin-top: 15%;
            background-image: none;
            &_isOpened {
                display: flex;
                background-image: none;
            }
            .content__mapButton {
                cursor: pointer;
                display: flex;
                background-image: url('/images/mapButton.svg');
                background-size: cover;
                position: absolute;
                width: 8%;
                height: 4.8%;
                left: 3.5%;
                bottom:  78%;
            }
            .content__title {
                font-family: 'Montserrat Alternates';
                font-style: normal;
                font-weight: 500;
                font-size: 30px;
                color: #F2F2F2;
                width: 79.3%;
                margin-top: 2%;
                height: 13%;
                align-items: flex-end;
                //display: none;
                display: flex;
                &_isOpened {
                    display: flex;
                }
            }
            .content__photos {
                width: 85.3%;
                height: 34%;
                margin-top: 5%;
                border: 1px solid green;
                //display: none;
                display: block;
                &_isOpened {
                    display: block;
                }
            }
            .content__description {
                //display: none;
                display: block;
                font-family: 'Noto Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                color: #F2F2F2;
                width: 80%;
                height: 48%;
                margin-top: 1%;
                &_isOpened {
                    display: block;
                }
                .price {
                    height: 11.5%;
                    align-items: flex-end;
                    display: flex;
                }
                .description {
                        padding-top: 5%;
                    .title {
                        margin-bottom: 5%;
                        color: #FFE145;
                    }
                    .text {
                        margin-bottom: 7%;
                    }
                    .adress {
                        span {
                            color: #FFE145;
                        }
                    }
                }
            }
        }
    
        .progressBar {
            display: flex;
            position: absolute;
            width: 100%;
            height: 2.2%;
            bottom: 0;
            background-color: #1D1D1D;
        }
    }
}

.upperbar {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 68.2%;
    height: 4.4%;
    padding-left: 10%;
    padding-right: 10%;
    background: rgba(58, 58, 58, 0.7);
    right: 0;
    top:0;
    .upperbar__button {
        font-family: 'Montserrat Alternates';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        color: #F2F2F2;
        cursor: pointer;
        border: none;
        background: none;
        &:hover {
            color: #9C9C9C;
        }
        &:active {
            color: #FFED8D;
        }
    }

    .upperbar__logo {
        font-family: 'Sedgwick Ave Display';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        background: linear-gradient(180deg, #FCFCFC 29.48%, rgba(255, 255, 255, 0) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        user-select: none;
    }
}
  

  

  

  

  

  

  

