.main {
    display: flex;
    min-height: 100vh;
}

.container {
    background-image: url('/images/map.png');
    height: 100vh;
    background-color: #525252;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100%;
}


.mark {
    display: flex;
    position: absolute;
    cursor: pointer;
    width: 2%;
    height: 5.4%;
    background-image: url('/images/mark.svg');
    background-size: cover;
    transition: all 0.3s ease; 
    &_offTheMap {
        background-image: url('/images/offTheMapMark.png');
        width: 1.98%;
        height: 5.3%;
    }
    &_checked {
        margin-top: -1%;
        margin-left: -0.5%;
        background-image: url('/images/markSelected.png');
        width: 3%;
        height: 7.4%;
    }
}

.markButton {
    .mark {
        left: 50%;
        top: 5%;
    }
}


.markButton2 {
    .mark {
        left: 70%;
        top: 20%;
    }
}