.main {
    display: flex;
    min-height: 100vh;
}

.button {
    cursor: pointer;
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #FFE145;
    color: #1D1D1D;
    border-radius: 5px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    width: 8%;
    padding: 0.5%;
    &:hover {
        background: #FFED90;
    }
    &:active {
        background: #FFDC24;
    }
}

.container {
    background-color: #3A3A3A;
    height: 100vh;
    background-image: url('../public/images/papers.png');
    background-size: 100% 100%;
    background-position: center;
}

.offerFormPage {
    height: 100vh;
    .button__back {
        position: relative;
        left: 89.2%;
        top: 3%;
    }
    .offerFormPage__title {
        user-select: none;
        position: absolute;
        width: 36.3%;
        height: 14.8%;
        font-family: 'Sedgwick Ave Display';
        font-style: normal;
        font-weight: 400;
        font-size: 90px;
        letter-spacing: 0.05em;
        background: url(../public/images/texture.svg), linear-gradient(180deg, #FCFCFC 29.48%, rgba(255, 255, 255, 0) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        bottom: 70%;
        left: 32%;
    }

    .form {
        position: absolute;
        display: flex;
        flex-direction: column;
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        color: #F2F2F2;
        width: 24.5%;
        height: 51.7%;
        top: 30%;
        left: 38%;
        gap: 1%;
        .form__title{
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 25px;
            margin-top: 5%;
            margin-bottom: 2%;
        }
        input {
            border: 2px solid #F2F2F2;
            border-radius: 4px;
            background: none;
            height: 9%;
            margin-bottom: 3%;
        }
        label {
        }
        .button {
            position: absolute;
            margin-top: 100%;
            margin-left: 32%;
            min-width: 30%;
            height: 5%;
            padding: 5%;
        }
    }
}