.main {
    display: flex;
    min-height: 100vh;
}

.button {
    user-select: none;
    cursor: pointer;
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #FFE145;
    color: #1D1D1D;
    border-radius: 5px;
    border: none;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    width: 8%;
    padding: 0.5%;
    @media only screen and (min-width: 1367px) {
        font-size: 18px;
    }
    &:hover {
        background: #FFED90;
    }
    &:active {
        background: #FFDC24;
    }
}

.container {
    background-color: #3A3A3A;
    height: 100vh;
    background-image: url('/images/papers.png');
    background-size: 108% 108%;
    background-position: center;
}

.registrationPage {
    height: 100vh;
    .button__back {
        position: relative;
        left: 89.2%;
        top: 3%;
    }
    .registrationPage__title {
        user-select: none;
        position: absolute;
        width: 36.3%;
        height: 14.8%;
        font-family: 'Sedgwick Ave Display';
        font-style: normal;
        font-weight: 400;
        font-size: 90px;
        letter-spacing: 0.05em;
        background: url(/images/texture.svg), linear-gradient(180deg, #FCFCFC 29.48%, rgba(255, 255, 255, 0) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        bottom: 70%;
        left: 32%;
        @media only screen and (min-width: 1367px) {
            font-size: 100px;
        }
    }

    .form {
        user-select: none;
        position: absolute;
        display: flex;
        flex-direction: column;
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        color: #F2F2F2;
        width: 24.5%;
        height: 51.7%;
        top: 30%;
        left: 38%;
        gap: 1%;
        @media only screen and (min-width: 1367px) {
            font-size: 16px;
        }
        .form__title{
            display: flex;
            justify-content: center;
            font-size: 25px;
            margin-top: 5%;
            margin-bottom: 2%;
            @media only screen and (min-width: 1367px) {
                font-size: 23px;
            }
        }
        input {
            border: 2px solid #F2F2F2;
            border-radius: 4px;
            background: none;
            height: 9%;
            margin-bottom: 3%;
            font-family: 'Noto Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            color: #F2F2F2;
            padding-left: 2%;
            @media only screen and (min-width: 1367px) {
                font-size: 16px;
            }
        }
        .button {
            position: absolute;
            margin-top: 80%;
            margin-left: 32%;
            min-width: 30%;
            height: 5%;
            padding: 5%;
        }
    }

    .button__login {
        color: #F2F2F2;
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 400;
        position: absolute;
        top: 78.5%;
        left: 48.3%;
        text-decoration-line: underline;
        font-size: 13px;
        @media only screen and (min-width: 1367px) {
            font-size: 16px;
        }
        &:hover {
            color: #656565;
        }
    }
}